.p1 {
    padding: 1rem;
}

.p05 {
    padding: 0.5rem;
}

.addChild, .removeElement{
    cursor:pointer;
}

.p-h-1{
    padding-left: 1rem;
    padding-right: 1rem;
}
.p-r-05{
    padding-right: 0.5rem;
}
.p-l-05{
    padding-left: 0.5rem; 
}
.icon-xs {
    width: 16px;
    height: 16px;
}


.child > span {
    border-bottom: 1px solid;
}



.child > span a{
    position: relative;
    top:0.5rem;
    left:1.5rem;
    background:white;
}
.child >.marker{
    position: relative;
    width: 0;
    margin: 0;
    left:0.9rem;
    background:white;
    top: 0.6rem;
}
.root > span{
    border:none;
}
.parent > ul > li{
    border-left: 1px solid;
    margin-left: 10px;
}

.root > ul > li > span:first-child{
    border-left: 1px;
}
.root > ul, .root > ul > li{
    padding-left:0;
    margin-left:2px;
}

ul > li:last-child > ul:last-child > li{
    border-left: none; 
    margin:none;
}
ul > li:last-child > ul:last-child > li > span{
    border-left: 1px solid; 
}

.root > ul:last-child > li:last-child{
    border-left: none;
    padding: unset;
}
.root > ul:last-child > li > span:first-child{
    border-left: 1px solid;
}

ul, li {
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    margin:0;
    padding:0;
}

ul li {
    line-height: 1.4em;
}

/*
ul li ul {
    display: none;
}
ul li ul li {
    margin: 0 0 0 1.2em;
    border-left: 1px solid silver; 
}
*/
li.last {
    border: none;  
}



.marker::before{
    content: "\f105";
    background:white;
}

input:checked + label::before{
    content: "\f107";
}
input:checked ~ ul{
    display:inherit;
}

.hidden{
    display:none;
    visibility: hidden;
}

.parent > ul {
    display:none;
}

#timer{
    position: absolute;
    left: 0;
    padding: 15px;
    color:red;
}
    